@font-face {
  font-family: Oswald;
  src: url(./../fonts/Oswald-Medium.ttf);
}
@font-face {
  font-family: UTMAvo;
  src: url(./../fonts/UTMAvo.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(./../fonts/Oswald-Medium.ttf);
}
@font-face {
  font-family: Lato Black;
  src: url(./../fonts/Lato-Black.ttf);
}
@font-face {
  font-family: LatoHeavy;
  src: url(./../fonts/Lato-Heavy.ttf);
}
@font-face {
  font-family: LatoSemibold;
  src: url(./../fonts/Lato-Semibold.ttf);
}

@font-face {
  font-family: Lato;
  src: url(./../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: LatoMedium;
  src: url(./../fonts/Lato-Medium.ttf);
}

/* 1366 */
@media screen and (max-width: 1400px) and (min-width: 1300px) {
  .section_link {
    right: 10px;
  }
  .section_service .element_service {
    top: 30px;
  }
  .section_service .background_element {
    height: 370px;
  }
  .top_up {
    right: 10px;
  }
  .section_slider:before {
    left: 106px;
  }
  .slider_banner .item .content {
    left: 112px;
  }
  .section_aboutus {
    padding: 50px 0;
  }
  .slider_banner .item > img {
    width: 100%;
  }

}

/* max 1366 */
@media screen and (max-width: 1300px) {
  .section_link {
    right: 0;
  }
  .top_up {
    right: 0px;
  }
  .countdown_about .col_counter {
    width: 32%;
  }
}

/* 1024 */
@media screen and (max-width: 1299px) and (min-width: 1000px) {
  .header_main .main_menu > li > a {
    padding: 15px 5px;
    font-size: 12px;
  }
  .section_slider:before {
    left: 25px;
  }
  .slider_banner .item .content {
    left: 33px;
  }
  .slider_banner .item .content h3 {
    font-size: 24px;
  }
  .slider_banner .item .content h2 {
    font-size: 80px;
  }
  .section_service .element_service {
    position: inherit;
    width: 100%;
    top: 0px;
    left: 0;
    background: #004F34;
    padding: 50px 0;
    background-image: url(./../img/bg1.png);
  }
  .section_service .background_element {
    display: none;
  }
}

/* min 992 */
@media screen and (min-width: 992px) {
  .logo_mobi , .icon_menu , .section_footer_mobi {
    display: none;
  }
  .item_link {
    margin-bottom: 15px;
    margin-top: 20px;
  }
}

/* max 992 */
@media screen and (max-width: 992px) {
  @keyframes move {
    50% {
      top: 70px;
      left: 0px;
    }
  }
  @keyframes move3 {
      70% {
          right: 55px;
        top: 30px;
      }
  }
  @keyframes move4 {
      70% {
          bottom: 60px;
        left: 0px;
      }
  }
  @keyframes move5 {
      60% {
          bottom: 70px;
        right: 0px;
      }
  }
  .list_submenu li .mini_menu {
    position: inherit;
    width: 100%;
    top: 0;
    transform: inherit;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #fff;
    left: 0;
    visibility: visible;
    opacity: 1;
    display: none;
  }
  .header_main .main_menu > li .list_submenu > li:hover a {
    padding-left: 15px;
  }
  
  .list_submenu li.active_hightline .mini_menu {
    display: block;
    background: #f5f5f5;
    top: 15px;
  }
  .list_submenu li .mini_menu > li {
    padding: 15px;
    border-bottom: 1px solid #dadada;
  }
  .list_submenu li .mini_menu > li a {
    padding: 15px 15px 15px 30px;
  }
  .list_submenu li .mini_menu > li:last-child {
    border-bottom: none;
  }
  .header_main .main_menu > li .list_submenu >li.listsub_hightline:before {
    display: block;
    transform: rotateZ(45deg);
    border-top: 1px solid #222;
    border-right: 1px solid #222;
  }
  .header_main .main_menu > li .list_submenu >li.listsub_hightline.active_hightline:before {
    transform: rotateZ(135deg);
  }
  .header_main .main_menu > li .list_submenu >li:before {
    display: none;
  }
  .header_main .main_menu li.active_list:before {
    display: none;
  }
  .element_news {
    margin: 30px 0 0 0;
  }
  .btn_xemtatca {
    width: 145px;
    height: 40px;
  }
  .section_footer {
    display: none;
  }
  .section_footer_mobi {
    display: block;
  }
  .logo_mobi {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .icon_menu {
    display: block;
    width: 20px;
    margin-right: auto;
  }
  .icon_menu.active span:nth-child(1) {
    transform: rotateZ(45deg);
  }
  .icon_menu.active span:nth-child(2) {
    display: none;
  }
  .icon_menu.active span:nth-child(3) {
    transform: rotateZ(-45deg);
  }
  .icon_menu.active span {
    margin: -3px 0;
  }
  .icon_menu span {
    display: block;
    width: 100%;
    height: 3px;
    background: #004f34;
    margin: 3px 0;
  }
  .logo_box {
    width: 80px;
    display: block;
  }
  .logo_box img {
    width: 100%;
  }
  .header_main .main_menu > li:nth-child(5) {
    display: none;
  }
  .slider_banner .item .content {
    left: 30px;
  }
  .slider_banner .item .content h2 {
    font-size: 40px;
    line-height: 44px;
  }
  .slider_banner .item .content h3 {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
  }
  .slider_banner .item {
    height: 500px;
    overflow: hidden;
  }
  .item_aboutus {
    width: 100%;
    padding: 0;
  }
  .item_video {
    width: 100%;
    overflow: hidden;
    position: inherit;
    right: 0;
  }
  .item_video .item_img:nth-child(2) {
    left: 0;
  }
  .item_video .item_img:nth-child(5) {
    right: 0;
  }
  .section_service .element_service {
    top: 0;
  }
  .box_service {
    margin-top: 40px;
  }
  .section_service .background_element {
    height: 300px;
  }
  .box_service .item .content p {
    font-size: 12px;
    padding: 0 10px;
  }
  .section_form .element_form .form form .btn_dangki {
    width: 100px;
    height: 45px;
    font-size: 12px;
  }
  .section_form .element_form .form form span input::placeholder {
    font-size: 12px;
  }
  .section_form .element_form .form form span {
    padding: 0 10px;
  }
  .section_footer .row .footer_item {
    width: 100% !important;
  }
  .section_aboutus {
    padding: 0;
  }
  .section_news  {
    padding: 30px 0;
  }
  .section_news_video .row .element_news_left , .section_news_video .row .element_video_right {
    width: 100%;
    padding: 0;
  }
  .section_testimonial {
    overflow: hidden;
  }
  /* header */
  .header_main .main_menu > li {
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #dadada;
  }
  .header_main .main_menu > li .list_submenu > li {
    list-style: none;
    border-bottom: 1px solid #c8c8c8;
    padding: 0;
  }
  .top_header {
    padding: 20px 15px;
    box-shadow: 1px 5px 10px #00000017;
    position: relative;
  }
  .header_main {
    margin-top: 0;
    height: 100vh;
    display: none;
  }
  .header_main.active {
    display: block;
  }
  .header_main .main_menu > li .list_submenu {
    opacity: 1;
    visibility: visible;
    position: inherit;
    top: 15px;
    left: 0;
    width: 100%;
    border: none;
    display: none;
  }
  .header_main .main_menu {
    height: 90%;
    overflow-y: scroll;
    display: inherit;
    padding: 0;
  }
  .header_main .main_menu > li .list_submenu > li {
    padding: 15px 0;
    background: transparent !important;
  }
  .header_main .main_menu > li.hightline {
    position: relative;
  }
  .header_main .main_menu > li.hightline:before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    transform: rotateZ(45deg);
    top: 18px;
    left: calc(100% - 20px);
    opacity: 1;
  }
  .header_main .main_menu > li > a {
    padding: 15px;
    color: #333;
    font-weight: normal;
  }
  .header_main .main_menu > li.hightline.active .list_submenu {
    display: block !important;
    padding: 0;
    background: #eaeaea;
    z-index: 1000;
  }
  .header_main .main_menu > li .list_submenu > li:last-child {
    border-bottom: none;
  }
  .header_main .main_menu > li.hightline.active:before {
    transform: rotateZ(135deg);
  }
  .header_main .main_menu > li.hightline ul li a {
    text-transform: capitalize;
    color: #333 !important;
    padding: 15px;
    font-weight: normal;
  }
  .header_main .main_menu > li:hover .list_submenu {
    top: 10px;
  }
  .top_header .search_box .search_form {
    top: 45px;
    right: -72px;
  }
  .section_link a {
    margin: 5px 0;
    width: 30px;
    height: 30px;
  }
}

/* 570 */
@media screen and (max-width: 576px) {
  .slider_banner .item .content {
    width: 100%;
    left: 0;
    top: 55%;
  }
  .slider_banner .item .content h3 {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
  }
  .slider_banner .item {
    height: 400px;
    overflow: hidden;
  }
  .section_aboutus {
    padding: 0 15px;
  }
  .countdown_about .col_counter .counter-number {
    font-size: 40px;
    line-height: 42px;
  }
  .item_video {
    height: 350px;
  }
  .box_service .item {
    width: 32%;
    margin-bottom: 25px;
  }
  .section_service .element_service {
    position: inherit;
    width: 100%;
    overflow: hidden;
    background: #004F34;
    background-image: url(./../img/bg1.png);
    background-size: cover;
    background-position: right;
  }
  .section_service .background_element {
    display: none;
  }
  .title_black h2 {
    font-size: 18px;
    text-align: left;
    padding: 0 15px;
  }
  .title_black h2 span:before {
    transform: inherit;
    left: 0;
  }
  .title_light h2 {
    text-align: left;
    padding: 0 15px;
  }
  .title_light h2 span:before {
    transform: inherit;
    left: 0;
  }
  .section_form .title_black h2 {
    text-align: center;
    padding: 0;
  }
  .section_form .title_black h2 span:before {
    transform: translate(-50% , 0);
    left: 50%;
  }
  .section_news_video , .section_testimonial {
    padding: 0 15px;
  }
  .slider_video_for .item_video_for a {
    height: 200px;
  }
  .element_testimonial .item_testi .img {
    width: 100%;
    text-align: center;
  }
  .element_testimonial .item_testi .img img {
    margin: auto;
  }
  .element_testimonial .item_testi .content {
    width: 100%;
  }
  .section_form .element_form .form form span {
    width: 100% !important;
    margin-bottom: 15px;
    background: #fff;
    border-right: none;
    border-radius: 5px;
  }
  .section_form .element_form .form form span input {
    height: 45px;
  }
  .section_form .element_form .form form .btn_dangki {
    width: 100%;
    border-radius: 5px;
  }
  .section_form .element_form .form {
    padding-left: 0;
  }
  .section_form .row .element_form {
    top: 0;
    position: inherit;
  }
  .section_form .row {
    height: auto;
  }
  .section_footer {
    padding-top: 15px;
  }
  .section_footer .row .footer_item {
    padding: 0 15px;
  }
  .section_footer .row .footer_item .nav_tab_ft li a {
    font-size: 12px;
  }
  .section_footer .row .footer_item .nav_tab_ft li {
    margin-right: 10px;
  }
  .section_slider {
    overflow: hidden;
  }
  .title_basic h2 , .title_light h2 {
    font-size: 18px;
  }
  .top_up {
    right: 0px;
    bottom: 15px;
    width: 30px;
    height: 30px;
  }
  .top_up img {
    width: 100%;
  }
  .section_link {
    bottom: 50px;
  }
  .item_video .video .close_btn {
    right: 15px;
  }
  .item_video .box_video {
    width: 270px;
    height: 165px;
  }
  .item_video .item_img:nth-child(2) {
    width: 145px;
    height: 88px;
  }
  .item_video .item_img:nth-child(3) {
    width: 90px;
    height: 56px;
    right: 0;
  }
  .item_video .item_img:nth-child(4) {
    width: 87px;
    height: 55px;
    left: 0;
  }
  .item_video .item_img:nth-child(5) {
    width: 80px;
    height: 90px;
  }
  .item_video .video_main:before {
    display: none;
  }
  .section_form {
    padding: 0 15px 15px 15px;
  }
  .section_form .element_form .form {
    background: transparent;
  }

  
}