@font-face {
  font-family: Oswald;
  src: url(./../fonts/Oswald-Medium.ttf);
}
@font-face {
  font-family: UTMAvo;
  src: url(./../fonts/UTMAvo.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(./../fonts/Oswald-Medium.ttf);
}
@font-face {
  font-family: Lato Black;
  src: url(./../fonts/Lato-Black.ttf);
}
@font-face {
  font-family: LatoHeavy;
  src: url(./../fonts/Lato-Heavy.ttf);
}
@font-face {
  font-family: LatoSemibold;
  src: url(./../fonts/Lato-Semibold.ttf);
}

@font-face {
  font-family: Lato;
  src: url(./../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: LatoMedium;
  src: url(./../fonts/Lato-Medium.ttf);
}

/* 1366 */
@media screen and (max-width: 1400px) and (min-width: 1300px) {
  .section_link {
    right: 10px;
  }
  .section_service .element_service {
    top: 30px;
  }
  .section_service .background_element {
    height: 370px;
  }
  .top_up {
    right: 10px;
  }
  .section_slider:before {
    left: 106px;
  }
  .slider_banner .item .content {
    left: 112px;
  }
  .section_aboutus {
    padding: 50px 0;
  }
  .slider_banner .item > img {
    width: 100%;
  }
  .section_popup .element_popup .form_popup form span:nth-child(1) h3 {
    font-size: 14px;
  }
  .section_popup .element_popup .form_popup {
    width: 65%;
  }
  .section_popup .element_popup .img {
    width: 35%;
  }
  .section_impressive .element_impressive {
    width: 95%;
  }
  .section_foundation .container_foundation .content_foundation {
    width: 83%;
  }

}

/* max 1366 */
@media screen and (max-width: 1300px) {
  .section_link {
    right: 0;
  }
  .top_up {
    right: 0px;
  }
  .countdown_about .col_counter {
    width: 32%;
  }
}

/* 1024 */
@media screen and (max-width: 1299px) and (min-width: 1000px) {
  .element_new_news ul li {
    padding: 12px 18px;
  }
  .element_project_tieubieu .element_news_main {
    margin: 30px 0;
  }
  .form_detail form span h3 {
    font-size: 14px;
  }
  .section_banner_form .form_banner form span:nth-child(1) {
    width: 32%;
  }
  .header_main .main_menu > li > a {
    padding: 15px 5px;
    font-size: 12px;
  }
  .section_slider:before {
    left: 25px;
  }
  .slider_banner .item .content {
    left: 33px;
  }
  .slider_banner .item .content h3 {
    font-size: 24px;
  }
  .slider_banner .item .content h2 {
    font-size: 80px;
  }
  .section_service .element_service {
    position: inherit;
    width: 100%;
    top: 0px;
    left: 0;
    background: #004F34;
    padding: 50px 0;
    background-image: url(./../img/bg1.png);
  }
  .section_service .background_element {
    display: none;
  }
  .section_popup .element_popup .img {
    display: none;
  }
  .section_popup .element_popup .form_popup {
    width: 100%;
  }
  .section_popup .element_popup .form_popup form span:nth-child(1) h3 {
    font-size: 16px;
  }
  .item_aboutus {
    width: 100%;
  }
  .item_video {
    width: 100%;
    position: inherit;
    right: 0;
    height: 560px;
  }
  .section_aboutus {
    padding: 0;
  }
  .section_impressive .element_impressive {
    width: 100%;
  }
  .section_foundation .container_foundation .content_foundation {
    width: 100%;
    padding-left: 30px;
  }
  .element_service_main .img img {
    display: flex;
    margin: auto;
    width: 90%;
  }
}

/* min 992 */
@media screen and (min-width: 992px) {
  .logo_mobi , .icon_menu , .section_footer_mobi {
    display: none;
  }
  .item_link {
    margin-bottom: 15px;
    margin-top: 20px;
  }
}

/* max 992 */
@media screen and (max-width: 992px) {
  .element_contact , .element_map {
    width: 100%;
    padding: 0;
  }
  .element_new_news ul li a {
    font-size: 14px;
  }
  .element_new_news ul li {
    padding: 12px 0;
  }
  .element_tinmoinhat .hotnew_item .img {
    height: 150px;
  }
  .element_main_content {
    width: 100%;
    padding: 0;
  }
  .element_sidebar {
    width: 100%;
  }
  .element_news_main .item_news {
    width: 100%;
  }
  .element_project_lienquan .element_news_main .item_news {
    width: 100%;
  }
  .section_detail_project .element_detail , .element_sidebar_detail {
    width: 100%;
  }
  .detail_main_content {
    padding-right: 0;
  }
  .section_detail_project .element_sidebar_detail {
    padding-left: 0;
    width: 100%;
  }
  .section_detail_project .element_news_main {
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  /*.element_news_main .item_news {
    width: 48%;
  }*/
  .section_banner_form .form_banner form span:nth-child(3) {
    width: 32%;
  }
  .list_choose_news li {
    margin: 10px;
  }
  .section_banner_form .form_banner form span:nth-child(1) {
    width: 30%;
  }
  .section_banner_form .content h2 {
    font-size: 20px;
  }
  .section_banner_form .form_banner .element_form {
    padding: 15px;
  }
  .section_banner_form .form_banner .element_form {
    width: 100%;
  }
  @keyframes move {
    50% {
      top: 70px;
      left: 0px;
    }
  }
  @keyframes move3 {
      70% {
          right: 55px;
        top: 30px;
      }
  }
  @keyframes move4 {
      70% {
          bottom: 60px;
        left: 0px;
      }
  }
  @keyframes move5 {
      60% {
          bottom: 70px;
        right: 0px;
      }
  }
  .list_submenu li .mini_menu {
    position: inherit;
    width: 100%;
    top: 0;
    transform: inherit;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #fff;
    left: 0;
    visibility: visible;
    opacity: 1;
    display: none;
  }
  .header_main .main_menu > li .list_submenu > li:hover a {
    padding-left: 15px;
  }
  
  .list_submenu li.active_hightline .mini_menu {
    display: block;
    background: #f5f5f5;
    top: 15px;
  }
  .list_submenu li .mini_menu > li {
    padding: 15px;
    border-bottom: 1px solid #dadada;
  }
  .list_submenu li .mini_menu > li a {
    padding: 15px 15px 15px 30px;
  }
  .list_submenu li .mini_menu > li:last-child {
    border-bottom: none;
  }
  .header_main .main_menu > li .list_submenu >li.listsub_hightline:before {
    display: block;
    transform: rotateZ(45deg);
    border-top: 1px solid #222;
    border-right: 1px solid #222;
  }
  .header_main .main_menu > li .list_submenu >li.listsub_hightline.active_hightline:before {
    transform: rotateZ(135deg);
  }
  .header_main .main_menu > li .list_submenu >li:before {
    display: none;
  }
  .header_main .main_menu li.active_list:before {
    display: none;
  }
  .element_news {
    margin: 30px 0 0 0;
  }
  .btn_xemtatca {
    width: 145px;
    height: 40px;
  }
  .section_footer {
    display: none;
  }
  .section_footer_mobi {
    display: block;
    padding-top: 130px;
  }
  .logo_mobi {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .icon_menu {
    display: block;
    width: 20px;
    margin-right: auto;
  }
  .icon_menu.active span:nth-child(1) {
    transform: rotateZ(45deg);
  }
  .icon_menu.active span:nth-child(2) {
    display: none;
  }
  .icon_menu.active span:nth-child(3) {
    transform: rotateZ(-45deg);
  }
  .icon_menu.active span {
    margin: -3px 0;
  }
  .icon_menu span {
    display: block;
    width: 100%;
    height: 3px;
    background: #004f34;
    margin: 3px 0;
  }
  .logo_box {
    width: 80px;
    display: block;
  }
  .logo_box img {
    width: 100%;
  }
  .header_main .main_menu > li:nth-child(5) {
    display: none;
  }
  .slider_banner .item .content {
    left: 30px;
  }
  .slider_banner .item .content h2 {
    font-size: 40px;
    line-height: 44px;
  }
  .slider_banner .item .content h3 {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
  }
  .slider_banner .item {
    height: auto;
    overflow: hidden;
  }
  .item_aboutus {
    width: 100%;
    padding: 0;
  }
  .item_video {
    width: 100%;
    overflow: hidden;
    position: inherit;
    right: 0;
  }
  .item_video .item_img:nth-child(2) {
    left: 0;
  }
  .item_video .item_img:nth-child(5) {
    right: 0;
  }
  .section_service .element_service {
    top: 0;
  }
  .box_service {
    margin-top: 40px;
  }
  .section_service .background_element {
    height: 300px;
  }
  .box_service .item .content p {
    font-size: 12px;
    padding: 0 10px;
  }
  .section_form .element_form .form form .btn_dangki {
    width: 100px;
    height: 45px;
    font-size: 12px;
  }
  .section_form .element_form .form form span input::placeholder {
    font-size: 12px;
  }
  .section_form .element_form .form form span {
    padding: 0 10px;
  }
  .section_footer .row .footer_item {
    width: 100% !important;
  }
  .section_aboutus {
    padding: 0;
  }
  .section_news  {
    padding: 30px 0;
  }
  .section_news_video .row .element_news_left , .section_news_video .row .element_video_right {
    width: 100%;
    padding: 0;
  }
  .section_testimonial {
    overflow: hidden;
  }
  /* header */
  .header_main .main_menu > li {
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #dadada;
  }
  .header_main .main_menu > li .list_submenu > li {
    list-style: none;
    border-bottom: 1px solid #c8c8c8;
    padding: 0;
  }
  .top_header {
    padding: 20px 15px;
    box-shadow: 1px 5px 10px #00000017;
    position: relative;
  }
  .header_main {
    margin-top: 0;
    height: 100vh;
    display: none;
  }
  .header_main.active {
    display: block;
  }
  .header_main .main_menu > li .list_submenu {
    opacity: 1;
    visibility: visible;
    position: inherit;
    top: 15px;
    left: 0;
    width: 100%;
    border: none;
    display: none;
  }
  .header_main .main_menu {
    height: 90%;
    overflow-y: scroll;
    display: inherit;
    padding: 0;
  }
  .header_main .main_menu > li .list_submenu > li {
    padding: 15px 0;
    background: transparent !important;
  }
  .header_main .main_menu > li.hightline {
    position: relative;
  }
  .header_main .main_menu > li.hightline:before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    transform: rotateZ(45deg);
    top: 18px;
    left: calc(100% - 20px);
    opacity: 1;
  }
  .header_main .main_menu > li > a {
    padding: 15px;
    color: #333;
    font-weight: normal;
  }
  .header_main .main_menu > li.hightline.active .list_submenu {
    display: block !important;
    padding: 0;
    background: #eaeaea;
    z-index: 1000;
  }
  .header_main .main_menu > li .list_submenu > li:last-child {
    border-bottom: none;
  }
  .header_main .main_menu > li.hightline.active:before {
    transform: rotateZ(135deg);
  }
  .header_main .main_menu > li.hightline ul li a {
    text-transform: capitalize;
    color: #333 !important;
    padding: 15px;
    font-weight: normal;
  }
  .header_main .main_menu > li:hover .list_submenu {
    top: 10px;
  }
  .top_header .search_box .search_form {
    top: 45px;
    right: -72px;
  }
  .section_link a {
    margin: 5px 0;
    width: 30px;
    height: 30px;
  }
  .section_popup .element_popup .img {
    display: none;
  }
  .section_popup .element_popup .form_popup {
    width: 100%;
  } 
  .section_popup .element_popup .form_popup form span:nth-child(1) h3 {
    font-size: 12px;
  }
  .top_up {
    width: 30px;
    height: 30px;
    overflow: hidden;
  }
  .top_up img {
    width: 100%;
  }
  .section_aboutus_gioithieu .row .element_aboutleft {
    width: 100%;
  }
  .section_aboutus_gioithieu .row .element_mapright {
    width: 100%;
    text-align: center;
  }
  .section_impressive .container_impressive , .section_impressive .img_impressive , .section_impressive .element_impressive , .section_foundation .container_foundation , .section_foundation .container_foundation .content_foundation , .section_foundation .img_foundation {
    width: 100%;
  }
  .section_impressive .container_impressive , .section_foundation .container_foundation {
    padding: 15px;
  }
  .element_service_main .img img {
    width: 60%;
    margin: auto;
    display: flex;
  }
  .element_service_main .img .content p {
    font-size: 14px;
    line-height: 16px;
  }
  .element_service_main .img:nth-child(7) {
    bottom: 36%;
    left: 14%;
  }
  .element_service_main .img:nth-child(6) {
    bottom: 12%;
    left: 24%;
  }
  .element_service_main .img:nth-child(5) {
    bottom: 12%;
    right: 24%;
  }
  .element_service_main .img:nth-child(4) {
    right: 14%;
    top: 43%;
  }
  .element_service_main .img:nth-child(3) {
    top: 19%;
    right: 18%;
  }
  .element_service_main .img:nth-child(8) {
    top: 20%;
    left: 18%;
  }
  .element_service_main .img:nth-child(2) {
    top: 30px;
  }
  .element_service_main {
    padding: 145px;
  }
}

/* 570 */
@media screen and (max-width: 576px) {
  .element_main_content {
    padding: 0 15px;
  }
  .element_sidebar {
    padding: 0 15px;
  }
  .section_breadcrumb {
    padding: 22px 15px;
  } 
  .section_detail_project {
    padding: 15px;
  }
  .section_detail_project .element_detail .slider_detail .slider_img_for .item_img_for .img {
    height: 225px;
  }
  .section_detail_project .element_detail .slider_detail .slider_img_nav .item_img {
    height: 50px;
  }
  .element_note {
    padding: 15px;
    width: 100%;
  }
  .element_news_main .item_news .img {
    height: 140px;
  }
  .section_detail_project .element_news_main .col-md-4 {
    padding: 0;
  }
  .title_black_left h2 {
    font-size: 20px;
  }
  .element_note span {
    font-size: 16px;
  }
  .form_detail form span:nth-child(1) {
    width: 90%;
  }
  .form_detail form span h3 {
    font-size: 14px;
  }
  .section_banner_form .form_banner {
    bottom: -265px;
  }
  .section_banner_form .form_banner form span select {
    height: 45px;
  }
  .section_banner_form .content h2 {
    font-size: 12px;
  }
  .section_banner_form .form_banner form span {
    width: 100% !important;
    border: none;
    padding: 0;
  }
  .list_choose_news li {
    margin: 10px 0;
  }
  .list_choose_news {
    justify-content: space-between;
    margin: 0;
  }
  .section_phantrang button {
    height: 37px;
    font-size: 12px;
    padding: 0 10px;
  }
  .section_phantrang p {
    font-size: 12px;
    margin: 0 5px;
  }
  .section_phantrang span {
    width: 37px;
    height: 37px;
        padding-left: 14px;
        font-size: 12px;
        margin: 0 5px;
  }
  .section_banner_form .form_banner form span .btn_timkiem {
    width: 100%;
    border-radius: 5px;
  }
  .section_banner_form .form_banner form {
    height: auto;
    padding: 15px;
  }
  .pt-80 {
    padding: 285px 15px 30px 15px;
  }
  .section_commit {
    padding: 0 15px 15px 15px;
  }
  .element_commit {
    margin-top: 55px;
  }
  .element_commit .item_commit .img , .element_commit .item_commit .content {
    width: 100%;
    margin-bottom: 15px;
  }
  .section_main_service {
    overflow: hidden;
  }
  .element_service_main .img:nth-child(3) {
    top: 19%;
    right: 0;
  }
  .element_service_main .img:nth-child(4) {
    right: -15px;
    top: 45%;
  }
  .element_service_main .img:nth-child(6) {
    bottom: 14%;
    left: 12%;
  }
  .element_service_main .img:nth-child(7) {
    bottom: 33%;
    left: -15px;
  }
  .element_service_main .img:nth-child(8) {
    top: 20%;
    left: 0;
  }
  .element_service_main .img:nth-child(5) {
    bottom: 14%;
    right: 13%;
  }
  .element_service_main .img:nth-child(2) {
    top: 45px;
  }
  .element_service_main .img:nth-child(1) img {
    width: 100%;
  }
  .section_bannertext .content h2 {
    font-size: 16px;
  }
  .section_aboutus_gioithieu {
    padding: 0 15px;
  }
  .section_aboutus_gioithieu .row .element_aboutleft .countdown_about .col_counter {
    width: 50%;
    margin: 0 0 15px 0;
  }
  .element_service_main {
    padding: 0;
    height: 500px;
  }
  .slider_banner .item .content {
    width: 100%;
    left: 0;
    top: 55%;
  }
  .slider_banner .item .content h2 {
    -webkit-text-stroke-color: inherit;
  }
  .slider_banner .slick-dots {
    display: none !important;
  }
  .slider_banner .item .content p {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: none;
  }
  .slider_banner .item .content h3 {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
  }
  .slider_banner .item {
    overflow: hidden;
  }
  .section_aboutus {
    padding: 0 15px;
  }
  .countdown_about .col_counter .counter-number {
    font-size: 40px;
    line-height: 42px;
  }
  .item_video {
    height: 350px;
  }
  .box_service .item {
    width: 32%;
    margin-bottom: 25px;
  }
  .section_service .element_service {
    position: inherit;
    width: 100%;
    overflow: hidden;
    background: #004F34;
    background-image: url(./../img/bg1.png);
    background-size: cover;
    background-position: right;
  }
  .section_service .background_element {
    display: none;
  }
  .title_black h2 {
    font-size: 18px;
    text-align: left;
    padding: 0 15px;
  }
  .title_black h2 span:before {
    transform: inherit;
    left: 0;
  }
  .title_light h2 {
    text-align: left;
    padding: 0 15px;
  }
  .title_light h2 span:before {
    transform: inherit;
    left: 0;
  }
  .section_form .title_black h2 {
    text-align: center;
    padding: 0;
  }
  .section_form .title_black h2 span:before {
    transform: translate(-50% , 0);
    left: 50%;
  }
  .section_news_video , .section_testimonial {
    padding: 0 15px;
  }
  .slider_video_for .item_video_for a {
    height: 200px;
  }
  .element_testimonial .item_testi .img {
    width: 100%;
    text-align: center;
  }
  .element_testimonial .item_testi .img img {
    margin: auto;
  }
  .element_testimonial .item_testi .content {
    width: 100%;
  }
  .section_form .element_form .form form span {
    width: 100% !important;
    margin-bottom: 15px;
    background: #fff;
    border-right: none;
    border-radius: 5px;
  }
  .section_form .element_form .form form span input {
    height: 45px;
  }
  .section_form .element_form .form form .btn_dangki {
    width: 100%;
    border-radius: 5px;
  }
  .section_form .element_form .form {
    padding-left: 0;
  }
  .section_form .row .element_form {
    top: 0;
    position: inherit;
  }
  .section_form .row {
    height: auto;
  }
  .section_footer {
    padding-top: 15px;
  }
  .section_footer .row .footer_item {
    padding: 0 15px;
  }
  .section_footer .row .footer_item .nav_tab_ft li a {
    font-size: 12px;
  }
  .section_footer .row .footer_item .nav_tab_ft li {
    margin-right: 10px;
  }
  .section_slider {
    overflow: hidden;
  }
  .title_basic h2 , .title_light h2 {
    font-size: 18px;
  }
  .top_up {
    right: 0px;
    bottom: 15px;
    width: 30px;
    height: 30px;
  }
  .top_up img {
    width: 100%;
  }
  .section_link {
    bottom: 50px;
  }
  .item_video .video .close_btn {
    right: 15px;
  }
  .item_video .box_video {
    width: 270px;
    height: 165px;
  }
  .item_video .item_img:nth-child(2) {
    width: 145px;
    height: 88px;
  }
  .item_video .item_img:nth-child(3) {
    width: 90px;
    height: 56px;
    right: 0;
  }
  .item_video .item_img:nth-child(4) {
    width: 87px;
    height: 55px;
    left: 0;
  }
  .item_video .item_img:nth-child(5) {
    width: 80px;
    height: 90px;
  }
  .item_video .video_main:before {
    display: none;
  }
  .section_form {
    padding: 0 15px 15px 15px;
  }
  .section_form .element_form .form {
    background: transparent;
  } 
  .section_popup .element_popup {
    width: 92%;
  } 
  .section_popup .element_popup .form_popup form span:nth-child(1) {
    width: 82%;
    height: 45px;
  }
  .slider_banner .item .content h2 {
    font-size: 14px;
    line-height: 16px;
  }
  .slider_hotnew , .hotnews_box , .hotnew_box_col {
    width: 100%;
  }
  .element_hot_news {
    padding: 0 15px;
  }
  .hotnews_box {
    padding-left: 0;
  }
  .hotnew_box_col .hotnew_item {
    width: 100%;
  }
  .element_new_news ul {
    width: 100%;
    margin: 25px 0;
    padding: 0 15px;
  }
  .element_new_news ul li {
    width: 100%;
  }
  .element_tinmoinhat .hotnew_item {
    width: 100%;
  }
  .number-cmt p {
    font-size: 11px !important;
  }
  .element_tinmoinhat_detail .hotnew_item {
    width: 100%;
  }
  .img_sb {
    overflow: hidden;
  }
  .img_sb img {
    width: 100%;
  }
  .title_default {
    margin-top: 0;
    font-size: 20px;
  }
  .element_contact, .element_map {
    padding: 0 15px;
  }
  .section_thankyou p {
    padding: 0 15px;
  }
  .section_thankyou {
    padding: 60px 0 0 0;
  }
  /* slider testimonial */
  .section_testimonial .carousel .slides .slideItem > a {
    object-fit: cover !important;
    display: block !important;
    position: absolute !important;
    top: 40px !important;
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
    overflow: hidden !important;
    z-index: 1 !important;
    right: 15px !important;
  }
  .carousel .slides .slideItem .content {
    height: 100% !important;
    width: 100% !important;
    float: left !important;
    padding: 25px 0 !important;
    position: inherit !important;
    right: 0 !important;
  }
  .carousel .slides .slideItem .content .text {
    background: #003925 !important;
    float: left !important;
    width: 100% !important;
    height: 100% !important;
    padding: 125px 15px 0px 14px !important;
    position: relative !important;
  }
  .carousel .slides .slideItem .content:before {
    display: none !important;
  }
  .carousel .slides .slideItem .content .text:before {
    left: 15px;
  }
  .carousel .slides .slideItem .content p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .section_testimonial .carousel .slides {
    width: 100% !important;
    height: 400px !important;
  }
  .carousel .nextButton {
    right: 0 !important;
  }
  .carousel .prevButton {
    left: 0 !important;
  }
  .section_testimonial .carousel {
    margin-top: 0 !important;
  }
  .section_partner , .section_footer_mobi {
    padding-top: 0;
  }
  .element_news .item_news .img {
    height: 240px;
  }
  .element_new_news {
    margin-top: 0;
  }
  .section_new_news .title_black h2 {
    margin-top: 0;
  }
}









/* slider testimonial */
.carousel {
  position : relative;
  margin : auto;
  margin-top: 70px;
  width : 100%;
  height : auto;
  border : none;
  overflow : visible;
}

.carousel .slides {
  margin : 0;
  padding : 0;
  border : none;
  list-style : none;
  position : relative;
  overflow : visible;
  width: 90% !important;
  height: 400px !important;
  margin: auto;
}

.carousel .slides .slideItem {
  position : absolute;
  cursor : pointer;
  overflow : hidden;
  padding : 0;
  margin : 0;
  border : none;
  display: flex !important;
  flex-flow: row wrap;
  justify-content: space-between;
  right: 0 !important;
}
.carousel .slides .slideItem .content {
  height: 390px;
  width: 55%;
  float: left;
  padding: 25px 0;
  position: absolute;
  right: 0;
}
.carousel .slides .slideItem .content:before {
  position: absolute;
  content: '';
  background: #f0f0f0;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: -1;
}
.carousel .slides .slideItem .content .text {
  background: #003925;
  width: 50%;
  float: left;
  width: 100%;
  height: 100%;
  padding: 120px 50px 50px 50px;
  position: relative;
}
.carousel .slides .slideItem .content p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.36%;
  color: #FFFFFF;
  position: relative;
}
.carousel .slides .slideItem .content .text:before {
  position: absolute;
  content: url(./../img/ghichu.png);
  top: 50px;
  left: 50px;
}
.carousel .slides .slideItem .content .text:after {
  position: absolute;
  content: url(./../img/logomo.png);
  right: 10px;
  bottom: 10px;
}
.carousel .slides .slideItem .content p
 strong {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150.36%;
    color: #FFFFFF;
 }

.slideItem .gradient , .slideItem .reflection {
  display: none !important;
}
.carousel .slides .slideItem:nth-child(1) {
  width: 90% !important;
  top: 54px;
  right: 0;
  opacity: 1;
  z-index: 4;
  display: block;
}
.carousel .slides .slideItem:nth-child(2) {
  width: 95% !important;
  top: 73.2px;
  right: 60px;
  opacity: 0;
  z-index: 3;
  display: none;
}

.carousel .slides .slideItem:nth-child(3) {
  width: 100% !important;
  top: 73.2px;
  right: 120px;
  opacity: 0;
  z-index: 3;
  display: none;
}
.carousel .slides .slideItem:nth-child(4) {
  width: 90% !important;
  top: 54px;
  right: 0;
  opacity: 1;
  z-index: 4;
  display: block;
}
.carousel .slides .slideItem:nth-child(5) {
  width: 90% !important;
  top: 30px;
  right: 473px;
  opacity: 1;
  z-index: 5;
  display: block;
}
.carousel .slides .slideItem:nth-child(6) {
  width: 95% !important;
  top: 30px;
  right: 137px;
  opacity: 1;
  z-index: 5;
  display: block;
}
.carousel .slides .slideItem:nth-child(7) {
  width: 85% !important;
  right: 137px;
  opacity: 1;
  z-index: 5;
  display: block;
}
.carousel .slides .slideItem a {
  display: block;
  text-decoration : none;
  margin : 0;
  padding : 0;
  border : none;
  outline : none;
  width: 50% !important;
  height: 100% !important;
  float: left;
}

.carousel .slides .slideItem img {
  margin: 0;
  padding: 0;
  border: none;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.carousel .nextButton {
  position : absolute;
  right : 10px;
  top : 133px;
  width : 35px;
  height : 78px;
  background : url("./../img/right.png") no-repeat center;
  cursor : pointer;
  z-index : 9999;
}

.carousel .prevButton {
  position : absolute;
  left : 10px;
  top : 133px;
  width : 35px;
  height: 78px;
  background : url("./../img/left.png");
  cursor : pointer;
  z-index : 9999;
}

.carousel .buttonNav {
  position : relative;
  margin : 0 auto;
  z-index : 999;
}

.carousel .buttonNav .numbers {
  position : relative;
  float : left;
  margin : 5px;
  color : #828282;
  cursor : pointer;
  font-weight : bold;
  text-decoration : none;
  font-size : 1em;
  font-family : Arial, Verdana;
}

.carousel .buttonNav .numbers:hover {
  color: #000;
  text-decoration : underline;
}

.carousel .buttonNav .numberActive {
  background : none;
  color : #000;
  cursor : default;
}
.carousel .buttonNav .bullet {
  position : relative;
  float : left;
  width : 16px;
  height : 16px;
  margin : 5px;
  float : left;
  cursor : pointer;
}


.carousel .slides .slideItem > a {
  object-fit: cover;
  display: block;
}
/*.carousel .slides .slideItem:nth-child(1) > a {
  width: 256px;
  height: 192px;
}
.carousel .slides .slideItem:nth-child(2) > a  {
  width: 204.8px;
  height: 153.6px;
}

.carousel .slides .slideItem:nth-child(3) > a  {
  width: 204.8px;
  height: 153.6px;
}
.carousel .slides .slideItem:nth-child(4) > a  {
  width: 256px;
  height: 192px;
}
.carousel .slides .slideItem:nth-child(5) > a  {
  width: 320px;
  height: 240px;
}
.carousel .slides .slideItem:nth-child(6) > a  {
  width: 400px;
  height: 300px;
}
.carousel .slides .slideItem:nth-child(7) > a  {
  width: 320px;
  height: 240px;
}*/